.work {
  padding: 3rem;

  h3 {
    margin-bottom: 1rem;
  }
}

.list {
  margin-bottom: 2rem;
  li a {
    display: flex;
    align-items: center;
    height: 4rem;
  }

  li a > img {
    width: 3rem;
    margin: 0 1rem 0 0;
  }
}
